html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;  vertical-align: baseline;
}

/* Box Model*/
*{
    box-sizing: border-box;
}

/* Document Style */
html {
  line-height: 1;
  font-family: 'Satoshi Variable', sans-serif;
  font-weight: 900;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  background-color: whitesmoke;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

#anch_bg {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: auto;
    overflow: hidden;
}

/* HEADER */

header {
    color: black;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 120px;
}


.game_title {
    color: beige;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  padding: 0.5rem;
  z-index: 10;
}

.title_text {
    display: flex;
    gap: 1rem;
} 

.title_subtitle {
    width: 100%;}

.game_title h1 {
  font-size: 2.5rem;
  line-height: 1;
}

.game_title h2 {
  font-size: 1.25rem;
  margin-top: 0.25rem;
}

.budget-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
    background-color: white;
    color:black;
    border-radius: 8px;
}

.budget-list ul{
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow: scroll;
    max-height: 120px;
}

.budget-list li {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0;
    letter-spacing: -1px;
    font-weight: 500;
    border-bottom: 0.5px dotted gray;    

}

.budget-text {
    display: flex;
    justify-content: space-between;
}

/* START MODAL */

#modal-overlay {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    z-index: 800;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    width: 320px;
    height: 280px;
    padding: 1.5rem;
    border-radius: 24px;
    text-align: center;
    z-index: 999;
}

.modal h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}  

.modal p {
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: -0.8px;
    margin-bottom: 0.5rem;
}

#start-content-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


#start-content-2 {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#avatar-option {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    gap: 1rem;
}

#avatar-option button {
    width: 70px;
    height: fit-content;
    cursor: pointer;
    border-radius: 12px;
    background-color: white;
    border: none;
    padding-bottom: 1rem;
}

#avatar-option button:hover {
    background-color: rgb(255, 100, 208);
}

#avatar-option button.active {
    background-color: rgb(255, 100, 208, 0.4);
}

.avatar_btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#next-button, #start-button, #restart-button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}


#end-content {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#img-container {
    padding: 1rem;
}

#end-content img {
    width: 60px;
}

/* MAIN */

#game_area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    overflow: hidden;
}

#item-list {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.falling-object {
  position: absolute;
  width: 70px;
  height: auto;
}

.destroyed-object {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}


/* AVATAR */
#avatar img {
    width: 60px;
    height: auto;
}

#avatar {
    position: absolute;
    bottom:0px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.1s;
    z-index: 999;
}

.beam {
    width: 12px;
    height: 12px;
    background-color: rgb(43, 255, 47);
    transition: transform 0.8s linear, opacity 0.3s linear;
    position: absolute;
    border-radius: 60px;
}




/* FOOTER */

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
}

.btn-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 0.1rem 1rem;
}

.btn-group button {
    border: none;
    cursor: pointer;
    font-weight: 500;
    padding: 0.25rem 1rem;
    border-radius: 4px;
}

/* RESPONSIVE */

@media only screen and (min-width: 600px) {

  header {
    width: 40%;
  }

}