html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*{
    box-sizing: border-box;
}

html {
  font-family: 'Times New Roman', Times, serif;
}

body {
background-color: #FFF8F0;
display: flex;
height: 100vh;
flex-direction: column;
}

header {
  background-color: #F5E9E2;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
  color: #333333;    
}

input, button {
    border-radius: 1rem;
    border: 1px solid grey;
    padding: 0 0.5rem;
    height: 2rem;
}

#input-form {
    width:100%;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

#logo-area

#search {
    flex-grow: 1;
}

main {
   padding: 1rem;
   background-color: white;
   flex-grow: 1;
   margin: 0 1rem;
}

ul.list li {
    list-style-type: none;
    padding: 1rem 0;
    border-bottom: 1px solid #DDD;

    display: flex;
    gap: 2rem;
    align-items: center;
}

ul.list li:first-child {
    padding-top: 0rem;
}

ul.list li p {
    flex-grow: 1;  
}


/* Card Mode */

ul.card {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.6em;
}

ul.card li {
padding: 2rem;
background-color: #F5E9E2;
width: calc(100%/3 - 0.4rem);

max-height: 240px;
overflow: scroll;
align-self: flex-start;
}
